
footer {
  color: $color-foreground-contrast-default;
  width: 100%;
  background-color: $color-brand-mute;
  border-top: solid 10px $color-brand-default;
  margin-top: 16px;

  a {
    color: $color-foreground-contrast-default;
    &:hover {
      color: $color-foreground-contrast-default;
      text-decoration: underline;
    }
  }

  .footer-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column-reverse;
    
    .aboutme {
      width: 100%;
      height: fit-content;
      background-color: $color-brand-default;
      padding: 30px;
      border-radius: 0px 0px 15px 15px;
      .title {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        a:hover {
          text-decoration: none;
          opacity: 0.8;
        }
      }
      .detail {
        margin-left: 0;
        text-align: center;
        &> div {
          line-height: 1.2rem;
        }
      }
    }
    
    .sitemap {
      width: 100%;
      padding-top: 10px;

      .sitemap-block {
        float: left;
        margin-top: 20px;
        margin-left: 10px;
        min-width: 150px;

        .sitemap-block-title {
          font-size: 16px;
          letter-spacing: 2px;
          font-weight: bold;
        }

        ol {
          margin-left: 0.5rem;
          .sitemap-item {
            line-height: 1.6rem;
          }
        }
      }
    }
  }

  .copyright {
    text-align: center;
    margin-top: 20px;
    background-color: $color-brand-default;
  }
}



@media screen and (min-width:map-get($breakpoints, sm)) {
  footer {
    .footer-container {
      .aboutme {
        width: 100%;
        .title {
          text-align: center;
        }
        .detail {
          margin-left: 0;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (min-width:map-get($breakpoints, md)) {
  footer {
    .footer-container {
      .aboutme {
        width: 100%;
        .title {
          text-align: center;
        }
        .detail {
          margin-left: 0;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (min-width:map-get($breakpoints, lg)) {
  footer {
    .footer-container {
      flex-direction: row;
      .aboutme {
        width: 30%;
        .title {
          text-align: left;
        }
        .detail {
          margin-left: 20px;
          text-align: left;
        }
      }
      .sitemap {
        width: 70%;
        padding-top: 70px;
      }
    }
  }
}
