.faq-item {
  margin-bottom: 24px;

  .faq-question {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: #e3f5e8;
    transition: background-color 0.25s ease;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    min-height: 70px;
    padding: 15px 70px 15px 90px;
    line-height: calc(28 / 18);

    &::before {
      top: 18px;
      left: 30px;
      font-size: 34px;
      position: absolute;
      font-weight: 700;
      line-height: 1;
      content: "Q";
      color: #074f90;
    }
    &::after {
      position: absolute;
      top: 16px;
      right: 30px;
      content: "+";
      font-size: 28px;
    }
  }
  .faq-answer {
    background-color: #f7f7f7;
    position: relative;
    min-height: 70px;
    padding: 15px 70px 15px 90px;
    line-height: calc(28 / 18);

    &::before {
      position: absolute;
      font-weight: 700;
      line-height: 1;
      top: 18px;
      left: 30px;
      font-size: 34px;
      content: "A";
      color: #ef8318;
    }
  }
  .accordion-content {
    display: none;
  }
  &.active {
    .faq-question {
      &::after {
        font-size: 28px;
        top: 14px;
        content: "-";
      }
    }
    .accordion-content {
      display: block;
    }
  }
}
