@import "../variables/variables.scss";

#content {

  &> .content-inner {
    
    &> .container {

      .main-area {

        .news-item {
          
          &:hover {
            background-color: $color-select-background-default;
          }
          
          .news-link {
            display: block;
            padding: 8px 0;
            &:hover {
              text-decoration: none;
            }
          }

          .news-cell {
            padding: 4px 0;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
          }
          
          .news-date {
            color: $color-foreground-mute;
            width: 8rem;
            font-weight: bold;
          }

          .news-category {
            display: none;
            width: 7rem;
            font-weight: bold;
            letter-spacing: 0.2rem;
            border-radius: 4px 4px 4px 4px;
            .news-category-label {
              display: inline-block;
              width: 100%;
              border-radius: 4px 4px 4px 4px;
            }
          }

          .news-title {
            padding: 0 1rem;
            text-align: left;
          }
        }
      }
    }
  }
}

/* 768px以上 */
@media screen and (min-width:map-get($breakpoints, md)) {
  .news-item {
    .news-category {
      display: table-cell;
    }
  }
}

