/* core colors */
$White: #fff;
$Red-50: #FFEBEE;
$Pink-50: #FCE4EC;
$Purple-50: #F3E5F5;
$DeepPurple-50: #EDE7F6;
$Indigo-50: #E8EAF6;
$Blue-50: #E3F2FD;
$LightBlue-50: #E1F5FE;
$Cyan-50: #E0F7FA;
$Teal-50: #E0F2F1;
$Green-50: #E8F5E9;
$LightGreen-50: #F1F8E9;
$Lime-50: #F9FBE7;
$Yellow-50: #FFFDE7;
$Amber-50: #FFF8E1;
$Orange-50: #FFF3E0;
$DeepOrange-50: #FBE9E7;
$Brown-50: #EFEBE9;
$Grey-50: #F8F8FB;
$BlueGrey-50: #ECEFF1;

$Red-100: #FFCDD2;
$Pink-100: #F8BBD0;
$Purple-100: #E1BEE7;
$DeepPurple-100: #D1C4E9;
$Indigo-100: #C5CAE9;
$Blue-100: #BBDEFB;
$LightBlue-100: #B3E5FC;
$Cyan-100: #B2EBF2;
$Teal-100: #B2DFDB;
$Green-100: #C8E6C9;
$LightGreen-100: #DCEDC8;
$Lime-100: #F0F4C3;
$Yellow-100: #FFF9C4;
$Amber-100: #FFECB3;
$Orange-100: #FFE0B2;
$DeepOrange-100: #FFCCBC;
$Brown-100: #D7CCC8;
$Grey-100: #F1F1F1;
$BlueGrey-100: #CFD8DC;

$Red-200: #EF9A9A;
$Pink-200: #F48FB1;
$Purple-200: #CE93D8;
$DeepPurple-200: #B39DDB;
$Indigo-200: #9FA8DA;
$Blue-200: #90CAF9;
$LightBlue-200: #81D4FA;
$Cyan-200: #80DEEA;
$Teal-200: #80CBC4;
$Green-200: #A5D6A7;
$LightGreen-200: #C5E1A5;
$Lime-200: #E6EE9C;
$Yellow-200: #FFF59D;
$Amber-200: #FFE082;
$Orange-200: #FFCC80;
$DeepOrange-200: #FFAB91;
$Brown-200: #BCAAA4;
$Grey-200: #E0E0E0;
$BlueGrey-200: #B0BEC5;

$Red-300: #E57373;
$Pink-300: #F06292;
$Purple-300: #BA68C8;
$DeepPurple-300: #9575CD;
$Indigo-300: #7986CB;
$Blue-300: #64B5F6;
$LightBlue-300: #4FC3F7;
$Cyan-300: #4DD0E1;
$Teal-300: #4DB6AC;
$Green-300: #81C784;
$LightGreen-300: #AED581;
$Lime-300: #DCE775;
$Yellow-300: #FFF176;
$Amber-300: #FFD54F;
$Orange-300: #FFB74D;
$DeepOrange-300: #FF8A65;
$Brown-300: #A1887F;
$Grey-300: #D8D8D8;
$BlueGrey-300: #90A4AE;

$Red-400: #EF5350;
$Pink-400: #EC407A;
$Purple-400: #AB47BC;
$DeepPurple-400: #7E57C2;
$Indigo-400: #5C6BC0;
$Blue-400: #42A5F5;
$LightBlue-400: #29B6F6;
$Cyan-400: #26C6DA;
$Teal-400: #26A69A;
$Green-400: #66BB6A;
$LightGreen-400: #9CCC65;
$Lime-400: #D4E157;
$Yellow-400: #FFEE58;
$Amber-400: #FFCA28;
$Orange-400: #FFA726;
$DeepOrange-400: #FF7043;
$Brown-400: #8D6E63;
$Grey-400: #B4B4B4;
$BlueGrey-400: #78909C;

$Red-500: #F44336;
$Pink-500: #E91E63;
$Purple-500: #9C27B0;
$DeepPurple-500: #673AB7;
$Indigo-500: #3F51B5;
$Blue-500: #2196F3;
$LightBlue-500: #03A9F4;
$Cyan-500: #00BCD4;
$Teal-500: #009688;
$Green-500: #4CAF50;
$LightGreen-500: #8BC34A;
$Lime-500: #CDDC39;
$Yellow-500: #FFEB3B;
$Amber-500: #FFC107;
$Orange-500: #FF9800;
$DeepOrange-500: #FF5722;
$Brown-500: #795548;
$Grey-500: #949494;
$BlueGrey-500: #607D8B;

$Red-600: #E53935;
$Pink-600: #D81B60;
$Purple-600: #8E24AA;
$DeepPurple-600: #5E35B1;
$Indigo-600: #3949AB;
$Blue-600: #1E88E5;
$LightBlue-600: #039BE5;
$Cyan-600: #00ACC1;
$Teal-600: #00897B;
$Green-600: #43A047;
$LightGreen-600: #7CB342;
$Lime-600: #C0CA33;
$Yellow-600: #FDD835;
$Amber-600: #FFB300;
$Orange-600: #FB8C00;
$DeepOrange-600: #E64A19;
$Brown-600: #6D4C41;
$Grey-600: #757575;
$BlueGrey-600: #546E7A;

$Red-700: #D32F2F;
$Pink-700: #C2185B;
$Purple-700: #7B1FA2;
$DeepPurple-700: #512DA8;
$Indigo-700: #303F9F;
$Blue-700: #1976D2;
$LightBlue-700: #0288D1;
$Cyan-700: #0097A7;
$Teal-700: #00796B;
$Green-700: #388E3C;
$LightGreen-700: #689F38;
$Lime-700: #AFB42B;
$Yellow-700: #FBC02D;
$Amber-700: #FFA000;
$Orange-700: #F57C00;
$DeepOrange-700: #E64A19;
$Brown-700: #5D4037;
$Grey-700: #626262;
$BlueGrey-700: #455A64;

$Red-800: #C62828;
$Pink-800: #AD1457;
$Purple-800: #6A1B9A;
$DeepPurple-800: #4527A0;
$Indigo-800: #283593;
$Blue-800: #1565C0;
$LightBlue-800: #0277BD;
$Cyan-800: #00838F;
$Teal-800: #00695C;
$Green-800: #2E7D32;
$LightGreen-800: #558B2F;
$Lime-800: #9E9D24;
$Yellow-800: #F9A825;
$Amber-800: #FF8F00;
$Orange-800: #EF6C00;
$DeepOrange-800: #D84315;
$Brown-800: #4E342E;
$Grey-800: #414141;
$BlueGrey-800: #37474F;

$Red-900: #B71C1C;
$Pink-900: #880E4F;
$Purple-900: #4A148C;
$DeepPurple-900: #311B92;
$Indigo-900: #1A237E;
$Blue-900: #0D47A1;
$LightBlue-900: #01579B;
$Cyan-900: #006064;
$Teal-900: #004D40;
$Green-900: #165B30;
$LightGreen-900: #2C7046;
$Lime-900: #827717;
$Yellow-900: #F57F17;
$Amber-900: #FF6F00;
$Orange-900: #E65100;
$DeepOrange-900: #BF360C;
$Brown-900: #3E2723;
$Grey-900: #1A1A1A;
$BlueGrey-900: #263238;
/* core colors end */

/* alias colors */
$color-foreground-default: $Grey-900;
$color-foreground-contrast-default: $White;
$color-foreground-mute: $Grey-600;
$color-foreground-subtle: $Grey-300;

$color-background-default: $White;
$color-background-mute: $Grey-200;
$color-background-fallback: $Grey-900;

$color-brand-default: $Green-900;
$color-brand-mute: $LightGreen-900;

$color-table-header-background: #E6F3EC;
$color-table-border: $Green-900;

/* token */
$color-dropdown-foreground-default: $color-foreground-mute;
$color-dropdown-foreground-default-hover: $color-brand-default;
$color-dropdown-background-default: $White;
$color-security-button-foreground-default: $White;
$color-select-background-default: $color-background-mute;
