// 変数
@import "../variables/variables.scss";

.tile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 52px;
  overflow: hidden;
  .tile-item {
    float: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: #fafafa;
    .tile-image {
      max-width: 100%;
      max-height: 250px;
    }
    .tile-title {
      padding: 1rem 0;
      font-weight: bold;
    }
    .tile-sub {
      font-size: 0.8rem;
      margin-bottom: 0.8rem;
    }
    > a {
      box-sizing: border-box;
      letter-spacing: .15;
      min-height: 384px;
      color: #666;
      display: block;
      font-size: 1.2rem;
      font-weight: 400;
      letter-spacing: .03;
      line-height: 1;
      padding: 20px 20px 0 20px;
      position: relative;
      text-align: center;
      text-decoration: none;
      &:hover {
        opacity: .5;
      }
    }
    .tile-text {
      display: none;
      font-size: 1rem;
      line-height: 1.6;
      padding: 0 30px;
      text-align: left;
    }
    &:nth-child(even) {
      background-color: #efefef;
    }
  }
  .tile-description {
    display: block !important;
  } 
}

/* 768px以上 */
@media screen and (min-width:map-get($breakpoints, md)) {  
  .tile-list {
    .tile-item {
      width: 50%;
      
      .tile-text {
        display: block;
      }
      > a {
        padding: 20px 20px 2rem 20px;
      }
    }
  }
}

/* 1024px以上 */
@media screen and (min-width:map-get($breakpoints, lg)) {
  .tile-list {
    .tile-item {
      width: 33.3%;
      
      .tile-text {
        display: block;
      }
      > a {
        padding: 20px 20px 2rem 20px;
      }
    }
  }
}
