@charset "utf-8";

// Noto Sans JP
@import url("http://fonts.googleapis.com/earlyaccess/notosansjp.css");

// material design icons
@import 'icons/material-design-iconic-font/css/materialdesignicons.min.css';

// リセットCSS
@import "destyle";

// Import Bootstrap source files (Required file)
@import 'vendors/bootstrap/bootstrap.scss';

// 変数
@import "variables/variables.scss";

// コンポーネント
@import "components/components.scss";

// 基底
@import "base";

// ヘッダ
@import "header";

// メニューバー
.menu-area {
  display: none;
  background: -moz-linear-gradient(top, $color-brand-default 0%, $color-brand-default 49%, #1a512f 50%, $color-brand-default 100%);
  background: -webkit-linear-gradient(top, $color-brand-default 0%, $color-brand-default 49%,#1a512f 50%, $color-brand-default 100%);
  background: linear-gradient(to bottom, $color-brand-default 0%, $color-brand-default 49%,#1a512f 50%, $color-brand-default 100%);

  .menu-list {
	  display: flex;
	  justify-content: space-around;
	  margin: 0;
    padding: 0;
	  line-height: 1.6;
    
    .menu-item {
      flex: 1;
      
      .menu-label {
	      display: block;
        text-decoration: none;
        font-weight: bold;
	      text-align: center;
        letter-spacing: 4px;
	      color: $color-foreground-contrast-default;
	      padding: 14px 0;
      }

      &:hover {
        background: -moz-linear-gradient(top, $color-brand-mute 0%, $color-brand-mute 49%, #28653f 50%, $color-brand-mute 100%);
        background: -webkit-linear-gradient(top, $color-brand-mute 0%, $color-brand-mute 49%,#28653f 50%, $color-brand-mute 100%);
        background: linear-gradient(to bottom, $color-brand-mute 0%, $color-brand-mute 49%,#28653f 50%, $color-brand-mute 100%);
      }
    }
  }

  .dropdown-item {
	  color: $color-dropdown-foreground-default;
    background: $color-dropdown-background-default;
	  border: 1px solid #ccc;
    letter-spacing: 4px;
    text-decoration: none;
	  border-top: none;
    font-weight: bold;
	  text-align: center;
    .dropdown-label {
      color: $color-dropdown-foreground-default;
      text-decoration: none;
	    padding: 14px 0;
    }
    &:hover .dropdown-label {
      color: $color-dropdown-foreground-default-hover;
    }
  }
}

.side-area {
  font-size: 0.9rem;

  .a23-btn.security-portal {
    width: 100%;
    line-height: 48px;
    background: -moz-linear-gradient(top,  #cb796b 0%, #af3521 8%, #a82812 11%, #a52812 22%, #8f2310 57%, #87210f 76%, #7e1f0e 86%, #7e1f0e 89%, #832b1c 92%, #ab7167 100%);
    background: -webkit-linear-gradient(top,  #cb796b 0%,#af3521 8%,#a82812 11%,#a52812 22%,#8f2310 57%,#87210f 76%,#7e1f0e 86%,#7e1f0e 89%,#832b1c 92%,#ab7167 100%);
    background: linear-gradient(to bottom,  #cb796b 0%,#af3521 8%,#a82812 11%,#a52812 22%,#8f2310 57%,#87210f 76%,#7e1f0e 86%,#7e1f0e 89%,#832b1c 92%,#ab7167 100%);
    border-radius: 6px 6px 6px 6px;

    .a23-btn-label {
      display: block;
      width: 100%;
      color: $color-security-button-foreground-default;
      font-size: 1.1rem;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
      letter-spacing: 4px;
      text-decoration: none;
    }

    &:hover {
      opacity: 0.8;
      text-decoration: underline;
    }
  }
  
  .submenu {
    display: none;
    margin-top: 16px !important;
  }

  .side-item + .side-item {
    margin-top: 36px;
  }

  .side-item {
    margin-bottom: 16px;

    .side-title {
      background: $color-brand-default;
	    color: $color-foreground-contrast-default;
	    font-size: 1.2rem;
	    font-weight: normal;
	    margin: 0 0 16px;
      letter-spacing: 4px;
      font-weight: bold;
      line-height: 48px;
      text-align: center;
      &:hover {
        opacity: 0.8;
      }
      a {
        display: block;
        color: $color-foreground-contrast-default;
        text-decoration: none;
        span {
	        margin: 5px 20px;
        }
        &:hover {
          color: $color-foreground-contrast-default;
          text-decoration: underline;
        }
      }
    }
    .daily-today,
    .daily-tomorrow {
      .daily-calendar {
        margin-bottom: 16px;

        &:hover {
          opacity: 0.8;
        }

        a:hover {
          color: $color-foreground-mute;
          text-decoration: none;
        }
        
        .daily-year {
          font-weight: bold;
          color: $color-foreground-mute;
          letter-spacing: 2px;
        }
        
        .daily-date {
          text-align: center;
          color: $color-foreground-mute;
          .daily-day {
            letter-spacing: 4px;
          }

          .daily-date-num {
            color: $color-foreground-default;
            font-weight: bold;
            font-size: 50px;
            line-height: 46px;
          }
        }
        .daily-weekly {
          text-align: center;
          font-weight: bold;
          color: $color-foreground-mute;
          letter-spacing: 2px;
        }
      }
      .daily-item {
        margin-bottom: 14px;
        .daily-label {
          font-weight: bold;
          text-align: center;
          text-decoration: underline;
          text-underline-offset: 4px;
          text-decoration-thickness: 2px;
          text-decoration-color: $color-brand-default;
        }
      }
      .daily-link {
        color: $color-foreground-mute;
        padding-left: 0.8rem;
        text-decoration: none;
        text-align: center;
      }
    }
  }
}

#content {

  &> .content-inner {
	  padding: 2.5%;
    
    &> .container {
      
      .main-item + .main-item {
	      margin-top: 36px;
      }

      .main-area {
	      margin-bottom: 40px;
        
        .main-title {
          background: $color-brand-default;
	        color: $color-foreground-contrast-default;
	        font-size: 1.2rem;
	        font-weight: normal;
	        margin: 0 0 16px;
          letter-spacing: 4px;
          font-weight: bold;
          line-height: 48px;
          .link {
            display: block;
            color: $color-foreground-contrast-default;
            text-decoration: none;
            &:hover {
              opacity: 0.8;
              color: $color-foreground-contrast-default;
              text-decoration: underline;
            }
          }
          .title {
	          margin: 5px 20px;
          }
        }
      }
    }
  }
}

/* ページ毎 */
@import "pages/pages.scss";

/* 1024px以上 */
@media screen and (min-width:map-get($breakpoints, lg)) {

  .menu-area {
    display: block;
  }

  #content > .content-inner > .container {
	  display: flex;

    .main-area {
	    flex: 1;
	    margin: 0 30px;
      min-height: 600px;

      .news-item {
        .news-category {
          display: table-cell;
        }
      }

      .main-body {
      }
    }

    .side-area {
	    width: 200px;

      .submenu {
        display: block;
        
        .submenu-item {
          margin-bottom: 10px;

          .submenu-label {
            padding: 8px 10px 8px 10px;
            text-align: center;
            font-weight: bold;
            letter-spacing: 3px;
            font-size: 16px;
            cursor: pointer;
            color: $color-foreground-contrast-default;
            text-decoration: none;
            display: block;
            line-height: 30px;
            outline: none;
            background-color: $color-brand-default;
            position: relative;

            &:hover {
              opacity: 0.8;
            }
          }
          
          .memu-item {
            background-color: rgba(0,0,0,0.03);
            background-image: linear-gradient(to bottom, #f5f5f5, #ededed);    

            &:hover {
              background-color: $color-select-background-default;
              background-image: linear-gradient(to bottom, #E8E9E8, #D4D6D4);    
            }

            .menu-label {
              display: block;
              padding: 4px 10px;
            }
          }
        }
      }
    }
  }

  .emergency-list {
    display: flex !important;
    .emergency-item {
      width: 50%;
    }
    .emergency-item + .emergency-item {
      padding-left: 16px !important;
      padding-top: 0 !important;
    }
  }
}

@import "footer";

form {
  max-width: 700px;

  .form-control {
    background-color: #ffffff;
    box-shadow: 0 0 0 0 #43a047;
    color: $color-foreground-default;
    padding-right: calc(1.5em + 1rem);
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.25rem) center;
    background-size: calc(0.75em + 0.5rem) calc(0.75em + 0.5rem);
    width: 100%;
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #cfcfcf;
    appearance: none;
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus {
      border-color: #8fc4f2;
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(30, 136, 229, 0.25);
    }
    &:user-invalid {
      background-color: #ffffff !important;
      border-color: #f44336 !important;
      box-shadow: 0 0 0 0 #f44336 !important;
    }
  }
  
  .error-message {
    color: #f44336;

    &:blank {
      display: none;
    }
    &:not(:blank) {
      display: block;
    }
  }
  textarea.form-control {
    height: 12rem;
    max-width: 100%;
  }

  .form-check-input {
    margin-left: 4px;
    margin-bottom: 4px;
    border-color: #43a047;
  }
  .hall-select {
    width: 30%;
  }
  .hall-list {
    display: flex;
    justify-content: space-between;
  }

  .form-label-radio-checkbox {
    input[type=radio]:not(.form-matrix-option):checked {
      background-image: url(../images/fill.svg);
      background-color: #1e88e5;
      border-color: transparent;
    }
    input[type=radio]:not(.form-matrix-option) {
      border-radius: 50%;
    }
    input[type=radio]:not(.form-matrix-option), .form-label-radio-checkbox input[type=checkbox]:not(.form-matrix-option) {
      display: inline-block;
      height: 22px;
      width: 22px;
      overflow: hidden;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border-width: 2px;
      transition: 0.2s ease-in-out;
      transition-property: background-color, border;
    }
    &:not(.form-matrix-option) {
      padding: 0.4rem 0.5rem;
      background: transparent;
      border: #cfcfcf solid 1px;
      border-radius: 0.5rem;
      color: #424242;
      cursor: pointer;
      display: inline-block;
      width: 100%;
    }
    input.form-check-input {
      display: inline-block;
      width: auto;
      margin-top: 0;
      margin-right: 0.5rem;
    }
  }
  .form-btn-submit {
    font-size: 1.15rem;
    padding: 1rem 4rem;
  }
}

fieldset {
  &.form-fieldset {
    margin-bottom: 1.4rem;
    
    &.required > legend:after {
      content: "必須";
      background: #e53935;
      color: #ffffff;
      font-weight: bold;
      padding: 0.25rem 0.4rem;
      border-radius: 0.4rem;
      font-size: 0.65rem;
      margin-left: 0.5rem;
      vertical-align: text-bottom;
      white-space: nowrap;
    }
  }
}

.btn {
    display: inline-block;
    padding: 1rem 4rem;
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid #d81b60;
    border-radius: 0.5rem;
    background-color: #d81b60;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, #d81b60 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    white-space: normal;
    width: 100%;
    &:hover {
      color: #ffffff;
      text-decoration: none;
      background-color: #b81752;
      border-color: #ad164d;
    }
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
    cursor: pointer;
}

/* 1024px以上 */
@media screen and (min-width:map-get($breakpoints, lg)) {
  .accordion-wrapper {
    margin: 0 4rem;
  }
}
